<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns="http://www.w3.org/1999/xhtml">
    <h:form id="globalFrom">
        <s:token allowMultiplePosts="true"/>
        <ui:decorate template="/layout/panels/_panel_title.xhtml">
            <ui:define name="panel_title">#{messages['gazelle.tm.GazelleMonitorApp']}</ui:define>
            <s:decorate id="nbOfAccesses" template="/layout/display/_display.xhtml">
                <ui:define name="label">#{messages['gazelle.tm.testingsession.nbOfAccessesByQRCode']}</ui:define>
                <h:outputText
                        value="#{testInstancesOverviewManager.selectedTestingSession.nbOfTestInstancesAccessedByQRCode}"/>
            </s:decorate>
            <s:decorate id="nbOfClaims" template="/layout/display/_display.xhtml">
                <ui:define name="label">#{messages['gazelle.tm.testingsession.nbOfClaimsByQRCode']}</ui:define>
                <h:outputText
                        value="#{testInstancesOverviewManager.selectedTestingSession.nbOfTestInstancesClaimedByQRCode}"/>
            </s:decorate>
            <s:decorate id="nbOfChecks" template="/layout/display/_display.xhtml">
                <ui:define name="label">#{messages['gazelle.tm.testingsession.nbOfCheckedOnSmartphone']}</ui:define>
                <h:outputText
                        value="#{testInstancesOverviewManager.selectedTestingSession.nbOfTestInstancesVerifiedOnSmartphone}"/>
            </s:decorate>
        </ui:decorate>
    </h:form>
</ui:composition>
