<ui:composition xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:g="http://www.ihe.net/gazelle"
                xmlns:rich="http://richfaces.org/rich" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:f="http://java.sun.com/jsf/core" xmlns="http://www.w3.org/1999/xhtml">
    <h:form id="instanceFileForm">
        <s:token allowMultiplePosts="true"/>
        <rich:dataTable render="instanceFileListDs"
                        value="#{managedBean.getListObjectInstanceFileWhichAreNotSnapshot(managedBean.selectedObjectInstance)}"
                        var="currentObjectInstanceFile" id="instanceFileList" rows="10"
                        rendered="#{managedBean.selectedObjectInstanceExistsOnDisc and managedBean.getListObjectInstanceFileWhichAreNotSnapshot(managedBean.selectedObjectInstance).size != 0}">
            <g:column>
                <ui:define name="header">#{messages['gazelle.systems.session.Type']}</ui:define>
                <h:outputText value="#{currentObjectInstanceFile.file.type.keyword}"/>
            </g:column>
            <g:column style="word-break: break-all;">
                <ui:define name="header">#{messages['net.ihe.gazelle.tm.FileName']}</ui:define>
                <h:commandLink id="downloadCommandLink" value="#{currentObjectInstanceFile.url}"
                               action="#{managedBean.displayFileOnScreen(currentObjectInstanceFile,false)}"
                               target="_blank">
                </h:commandLink>
            </g:column>
            <g:column>
                <ui:define name="header">#{messages['net.ihe.gazelle.tm.LastValidationStatus']}</ui:define>
                    <h:outputText value="#{managedBean.getLastValidationStatusForFile(currentObjectInstanceFile)}"
                                  styleClass="gzl-label #{managedBean.getLastValidationColor(currentObjectInstanceFile)}"/>
            </g:column>
            <g:column>
                <ui:define name="header">#{messages['net.ihe.gazelle.tm.Actions']}</ui:define>
                <a4j:region>
                    <h:commandLink id="NonDicomFileCommandLink"
                                   title="#{messages['gazelle.testmanagement.object.Download']}"
                                   action="#{managedBean.displayFileOnScreen(currentObjectInstanceFile,true)}"
                                   target="_blank">
                        <span class="gzl-icon-download"/>
                    </h:commandLink>

                    <h:commandLink action="#{managedBean.validate(currentObjectInstanceFile)}" target="_blank"
                                   title="#{messages['net.ihe.gazelle.tm.ValidateUsingEVSClient']}"
                                   rendered="#{currentObjectInstanceFile.file.type.validate}">
                        <span class="gzl-icon-play"/>
                    </h:commandLink>
                </a4j:region>
            </g:column>
            <g:column colspan="4" breakRowBefore="true" id="span3" style="background-color:#ccddee;">
                <f:subview id="subview_15">
                    <ui:include id="results" src="/objects/evsclientResults.xhtml">
                        <ui:param name="oif" value="#{currentObjectInstanceFile}"/>
                    </ui:include>
                </f:subview>
            </g:column>
            <f:facet name="footer">
                <ui:include src="/util/datatableFooter.xhtml">
                    <ui:param name="dataScrollerId" value="instanceFileListDs"/>
                    <ui:param name="dataTableId" value="instanceFileList"/>
                </ui:include>
            </f:facet>
        </rich:dataTable>
    </h:form>
</ui:composition>
