<ui:composition xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns="http://www.w3.org/1999/xhtml" template="/layout/template.xhtml">
    <ui:param name="pageNameTitle" value="#{messages['gazelle.users.user.ChangePassword']}"/>
    <ui:define name="body">
        <!--  /!\ WARNING : The current id (for form) is used as a reference within Javascript for the password encryption - DO NOT CHANGE IT -->
        <h:form id="changeUserPasswordForm">
            <s:token allowMultiplePosts="true"/>
            <!--  /!\ END - WARNING : The current id (for form) is used as a reference within Javascript for the password encryption - DO NOT CHANGE IT -->

            <!-- ============================== -->
            <!-- Change User password informations section 		  -->
            <!-- ============================== -->
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-3 col-lg-6 col-lg-offset-4">
                    <ui:decorate template="/layout/panels/_panel_title_id.xhtml">
                        <ui:param name="panel_id" value="changeUserPasswordPanel"/>
                        <ui:define name="panel_title">#{messages['net.ihe.gazelle.tm.PleaseUdpateYourPassword']}</ui:define>
                        <ui:include src="/users/user/changeUserPasswordPanel.xhtml">
                            <ui:param name="userVariable" value="#{userManager.selectedUser}"/>
                        </ui:include>
                        <div>
                            <a4j:commandButton id="save" value="#{messages['gazelle.common.button.Save']}" type="submit"
                                               onclick="hashGazelleChangeUserPassword()"
                                               action="#{userManager.updateUserPasswordAfterRegistration()}"
                                               styleClass="gzl-btn-green"
                                               render="changeUserPasswordForm"/>
                            <a4j:commandButton id="back" styleClass="gzl-btn"
                                               value="#{messages['gazelle.common.button.Cancel']}" action="/home.seam"
                                               immediate="true"/>
                        </div>
                    </ui:decorate>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>
